

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Archivos de configuración
*.log

# Archivos de usuario de VSCode y PyCharm
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db



# Archivos ocultos
*.swp
